<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Tasks</h1>
        <p class="lead">You can View, Add, Delete and Modify Tasks here</p>
        <hr class="my-4">
        <p>Choose Options here</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" routerLink="/alltasks" role="button">View Tasks</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Add Tasks</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Delete Tasks</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Modify Tasks</a>
        </p>
    </div>
</div>
<div class="container">
    <a class="btn btn-primary btn-lg" routerLink="/welcome" role="button">Back To DashBoard</a>
</div>

