<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Projects</h1>
        <p class="lead">You can View, Add, Delete and Modify Projects here</p>
        <hr class="my-4">
        <p>Choose Options here</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" routerLink="/allprojects" role="button">View Projects</a>
            <a class="btn btn-primary btn-lg" routerLink="/addproject" role="button">Add Projects</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Delete Projects</a>
            <a class="btn btn-primary btn-lg" href="#" role="button">Modify Projects</a>
        </p>
    </div>
</div>
<div class="container">
    <a class="btn btn-primary btn-lg" routerLink="/welcome" role="button">Back To DashBoard</a>
</div>
