<div class="jumbotron">
  <h1 class="display-3">Hello, This is your Dashboard</h1>
  <p class="lead">This is where all the Project Related Materials and tabs will be shown</p>
</div>
<div class="container-fluid">
  <div class="align-content-center">
    <div class="list-group">
      <a routerLink="/projects" class="list-group-item list-group-item-action ">
        Projects
      </a>
      <a routerLink="/resources" class="list-group-item list-group-item-action ">Resources </a>
      <a routerLink="/tasks" class="list-group-item list-group-item-action ">Tasks
      </a>
    </div>
  </div>
</div>