<div class="container">
  <table class="table table-hover" ng-init="getTasks()">
    <thead>
    <tr class="table-info">
      <th scope="row">Task Name</th>
      <td>Task Description</td>
      <td>Status of Task</td>
      <td>User of Task</td>
      <td>Project Name</td>
    </tr>
    <tr *ngFor="let task of AllTasks">
      <th scope="col">{{task.name}}</th>
      <th scope="col">{{task.description}}</th>
      <th scope="col">{{task.status}}</th>
      <th scope="col">{{task.user}}</th>
      <th scope="col">{{task.project}}</th>
    </tr>
    </thead>
  </table>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="/tasks" role="button">Go Back</a>
  </p>
</div>
